@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --heading-6-semibold-font-family: "Inter", Helvetica;
  --heading-6-semibold-font-size: 20px;
  --heading-6-semibold-font-style: normal;
  --heading-6-semibold-font-weight: 400;
  --heading-6-semibold-letter-spacing: 0px;
  --heading-6-semibold-line-height: 28px;
  --shadow-secodary-button:
    0px 0px 3px 0px rgba(0, 0, 0, 0.07), 0px 1px 1px 0px rgba(0, 0, 0, 0.06), 0px 2px 1px 0px rgba(
      0,
      0,
      0,
      0.04
    ), 0px 3px 2px 0px rgba(0, 0, 0, 0.01), 0px 4px 2px 0px rgba(0, 0, 0, 0);
  --text-l-regular-font-family: "Inter", Helvetica;
  --text-l-regular-font-size: 16px;
  --text-l-regular-font-style: normal;
  --text-l-regular-font-weight: 400;
  --text-l-regular-letter-spacing: 0px;
  --text-l-regular-line-height: 24px;
  --text-l-semibold-font-family: "Inter", Helvetica;
  --text-l-semibold-font-size: 16px;
  --text-l-semibold-font-style: normal;
  --text-l-semibold-font-weight: 400;
  --text-l-semibold-letter-spacing: 0px;
  --text-l-semibold-line-height: 24px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
